* {
  box-sizing: border-box;
}
.row {
  display: grid;
}
/* dry this code out. SIMPLIFY IT */
body {
  max-width: 1024px;
  margin: auto;
}

header, footer {
  background-color: rgb(46, 122, 173);
  color: white;
  text-align: center;
}

h3 {
  text-align: center;
  background-color: rgb(46, 122, 173);
  color: white;
}

img {
  object-fit: contain;
  overflow: hidden;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  margin: 5px;
  display: grid;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* small */
@media screen and (min-width: 37.5em) {
  .row {
    grid-template-columns: 1fr;
  }
}

/* medium */
@media screen and (min-width: 37.5em) {
  .row {
    grid-template-columns: 1fr 1fr;
  }
  body > div > div:nth-child(3) {
    grid-column: span 2;
  }
}

/* large */
@media screen and (min-width: 60em) {
  .row {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body > div > div:nth-child(3) {
    grid-column: unset;
  }
}
