/* TABLES */

table {
    width: 50%;
    margin: auto;
    border: solid 1px black;
}
.thead {
    color: black;
    background-color: #20B2AA;
}
tr {
    background-color: green;
    color: white;
}
td  {
    background-color: rgb(168, 168, 168);
    color: black;
    border: solid 1px black;
}


/* SPECIFIC TARGET STYLING */
body > section > table > tbody > tr:nth-child(4) > td:nth-child(1){
    background-color: white;
}
body > section > table > tbody > tr:nth-child(4) > td.greenlight {
    color: white;
    background-color: green;
}

body > section > table > tbody > tr:nth-child(6) > td {
    background-color: white;
}

body > section > table > tbody > tr:nth-child(8) > td {
    text-align: center;
    color: green;
    background-color: white;
}