/* large - desktop */
@media screen and (min-width: 1024px) {
    body {
        max-width: 100%;
    }
    main {
        max-width: 80%;
    };
    .weather {
        position: relative;
    }
    .weather img {
        position: absolute;
        top: 70px;
        right: 100px;
    }
    .localmap {
        width: 50%;
        margin: auto;
    }
  
}