/* large - desktop */
@media screen and (min-width: 1024px) {
    body {
        max-width: 75%;
    }
    .weather {
        position: relative;
    }
    .weather img {
        position: absolute;
        top: 70px;
        right: 100px;
    }
  
}