@media screen and (min-width: 767px) {

    .freshAd>button {
        top: 25%;
        font-size: 2rem;
    }

    .weather {
        /* margin: 1rem auto 1rem; */
        width: 75%;
        padding: 2rem;
    }

    .weather {
        position: relative;
    }

    .weather img {
        position: absolute;
        top: 70px;
        right: 100px;
    }

    .orderSum {
        width: 75%;
        padding: 2rem;

    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }



}