/* HEADER */
.headImg {
    display: none;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 1.5rem;
    padding-bottom: 0;
    color: white;
}

.mainHeader {
    background-color: rgb(77, 83, 76);
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.socialStuff {
    display: none;
}

/* -- */

/* NAV */
.hamburger {
    font-size: 2rem;
    color: white;

}

button {
    font-size: 2rem;
    color: white;
    background-color: transparent;
    border: none;
}

/* .navbar {
    text-align: center;
} */
#primaryNav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#primaryNav {
    padding: unset;
}

.nav-item {
    display: none;
    text-align: center;
    list-style: none;
}

#primaryNav a {
    /* text-decoration: none; */
    /* color: white; */
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
main {
    transition: margin-left .5s;
    padding: 20px;
  }

.show li {
    padding: 0.5rem;
    display: block;
}

/* - - */


/* BODY */
body {
    max-width: 100%;
    margin: auto;
}
main {
    max-width: 95%;
    margin: auto;
}

input {
    display: block;
}

.summaryCalif .freshAd .weather{
    text-align: center;
    max-width: 95%;
    margin: auto;
}

/* CHANGE THIS MAP IN LARGER SIZES */
/* width="600" height="450" */
.sanMap {
    width: inherit;
    height: auto;
    margin: auto;
}
.freshAd {
    position: relative;
}
.freshAd > button {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 1.3rem;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.freshAd > p {
    font-size: 2rem;
}

.pic1 > img, .pic2 > img, .pic3 > img, .pic4 > img {
    /* overflow: hidden; */
    height: 100%;
    width: 100%;
}

/* - - */


/* FOOTER */
footer {
    background-color: rgb(0, 74, 0);
    color: white;
    text-align: center;
}

.footImg {
    display: none;
}

body>footer>div.logoInfo>p:nth-child(1) {
    margin-top: 0;
}

.logoInfo {
    padding: 1rem;
}

/* - - */