.container {
    max-width: 70%;
    background-color: rgb(11, 97, 167);
    margin: auto;
    color: white;
    border-radius: 10px;
    box-shadow:  0 0 20px rgb(46, 46, 46);
}

.container_image {
    display: flex;
    align-self: flex-start;
    padding: 1rem;
    align-items: center;
}

.picture {
    height: 216px;
    width: 198px;
    object-fit: cover;
    box-shadow:  0 0 20px rgb(46, 46, 46);
    border-radius: 10px;
    margin-right: 2rem;
}

h1{
    text-shadow: 0 0 10px rgb(46, 46, 46);
}
h2 {
    display: block;
    max-width: 70%;
    margin: auto;
    padding: 1rem;
    padding-bottom: 0;
}
ol {
    list-style: disc;
}
.bulletList {
    margin: auto;
    max-width: 70%;
    padding: 1rem;
    padding-top: 0;
}
footer {
    display: flex;
    max-width: 70%;
    max-height: 25%;
    background-color: rgb(11, 97, 167);
    margin: auto;
    color: white;
    padding: 1rem;
    flex-direction: column;
    padding-left: 1rem;
    height: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow:  0 0 20px rgb(46, 46, 46);
}
.footer2 {
    color: yellow;
}